
  <div class="col-4 py-2" class="bg-info">
    <div class="card">
      <div class="card-body bg-primary-emphasis text-danger">
        <h5 class="card-title"><%= movie.name %></h5>
        <%= link_to "Show this movie", movie, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
