<h1 class="text-danger-emphasis">Editing client</h1>

<%= render "form", client: @client %>

<br>
<div class="container">
<div class="bg-info">
  <%= link_to "Show this client", @client %> |
  <%= link_to "Back to clients", clients_path %>
</div>
</div>