<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clients</h1>

  <%= link_to "New client", new_client_path %>

  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-info">
          <th scope="col">#</th>
          <th scope="col" class= "text-danger">Name</th>
          <th scope="col" class= "text-danger">Age</th>
          <th scope="col" class= "text-danger">Movie</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody class="bg-info" >
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
