<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <h1 class="text-danger-emphasis">Clients</h1>

  <%= link_to "New client", new_client_path %>

  <div id="clients">
    <table class="table table-active ">
      <thead>
        <tr>
          <th scope="col" class= "text-danger bg-secondary">#</th>
          <th scope="col" class= "text-danger bg-secondary">Name</th>
          <th scope="col" class= "text-danger bg-secondary">Age</th>
          <th scope="col" class= "text-danger bg-secondary">Movie</th>
          <th scope="col" class= "text-danger bg-secondary">Ir</th>
          <th scope="col" class= "text-danger bg-secondary">Editar</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody class="bg-info" >
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
